#globe {
    height: 200px;
    width: 200px;
    margin-left: 400px;
    margin-top: 40px;
}

#quiz_title {
    float: right;
    font-family: 'Permanent Marker', cursive;
    text-decoration: underline;
    font-size: 70px;
    color: #283593;
    margin-right: 400px;
}

body,
{
    width: 1000px;
    background-color: #EAEDED;
    align-content: center;
    padding-bottom: 50px;
}

#questions {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    color: #283593;
}

#time {
    text-align: center;
    color: #283593;
    font-size: 80px;
}

#button {
    height: 100px;
    width: 400px;
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
    background-color: #ABB2B9;
    font-family: 'Permanent Marker', cursive;
    color: #283593;
    margin-left: 750px;
    clear: both;
}

#results {
    background-color: #ABB2B9;
    font-family: 'Permanent Marker', cursive;
    color: #283593;
    height: 220px;
    width: 400px;
    margin: auto;
    font-size: 40px;
    text-align: center;
    clear: both;
    padding-top: 40px;
    border: 5px solid #283593;
}
